.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-list li a {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-decoration: none;
    color: #000;
}

.category-list li:nth-child(2n) a {
    flex-direction: row-reverse;
}

.category-list .content {
    font-size: 20px;
    max-width: 800px;
}

.category-list img {
    aspect-ratio: 16/9;
    width: 500px;
}