/* block specific CSS goes here */

main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 32px;
  min-height: 390px;
}

main .hero h1 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero picture:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block; 
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0));
   }


main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
