

.banner-content {
    position: relative;
    border: #717171 0.2px solid;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.banner-content p {
  margin: 0;
}

@media (min-width: 600px) {
    .banner-content {
        width: 1170px;
        height: 200px;
    }

    .banner1300x435 .banner-content {
      width: 1300px;
      height: 435px;
    }

}

.banner-content .banner-detail {
    width: 865px;
    box-sizing: border-box;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 32px;
    color: #fff;
  }

  .banner1300x435 .banner-content .banner-detail {
    height: 435px;
  }

  @media (min-width: 600px) {
    .banner-content .banner-detail {
        padding: 56px 60px 60px;
    }

   .banner1300x435 .banner-content .banner-detail  {
      padding: 150px 60px 60px;
      height: 435px;
  }
}

  .banner-content .banner-detail .headline {
    font-size: 36px;
    font-weight: 900;
    line-height: 36px;
    padding: 0;
    margin: 0;
  }

  .banner1300x435 .banner-content .banner-detail .headline {
    font-size: 48px;
    line-height: 48px;
    margin: 0;
  }

  @media (min-width: 600px) {
    .banner1300x435 .banner-content .banner-detail .headline {
      font-size: 48px;
      line-height: 48px;
    }
  } 

  .banner-content .banner-detail .pretitle {
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    padding: 0;
    margin: 0;
  }

  .banner1300x435 .banner-content .banner-detail .pretitle {
    font-size: 48px;
    line-height: 48px;
  }

  .banner-content .banner-detail .detail {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.6;
    font-weight: 400;
    line-height: 30px;
    padding: 0;
    margin: 0;
  }

  .banner1300x435 .banner-content .banner-detail .detail {
    font-size: 18px;
    line-height: 72px; }

  .banner-content .banner-logo {
    display: none;
    }

  @media (min-width: 600px) {
  .banner-content .banner-logo {
    display: block;
    width: 400px;
    background-image: url("/icons/securbank_logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 191px 53px;
  }
}

